.account {
  font-size: 12px;
}
.account-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.account-item {
  display: inline-block;
  margin: 0 10px 0 0;
  vertical-align: middle;
}
.account-link {
  display: block;
}
