<h2 class="content-title" [@titleIn]="'in'">{{title}}</h2>

<div class="content-breadcrumbs" [@breadcrumbsIn]="'in'">
  <ul class="breadcrumbs" >
    <li class="breadcrumbs-item">
      <a class="breadcrumbs-link" routerLink="/dashboard">Dashboard</a>
    </li>
    <li class="breadcrumbs-item">
      <a class="breadcrumbs-link" routerLink="/teachers">Teachers</a>
    </li>
    <li class="breadcrumbs-item" *ngIf="teacher">{{teacher.firstName}} {{teacher.lastName}}</li>
    <li class="breadcrumbs-item" *ngIf="!teacher">Teacher</li>
  </ul>
</div>

<div class="content-text" [@contentIn]="'in'">
  <dl class="details">
    <dt>First name:</dt>
    <dd>{{teacher.firstName}}</dd>
    <dt>Last name:</dt>
    <dd>{{teacher.lastName}}</dd>
    <dt>Middle name:</dt>
    <dd>{{teacher.middleName}}</dd>
    <dt>Birthday:</dt>
    <dd>{{teacher.birthday | date : 'longDate'}}</dd>
    <dt>Class:</dt>
    <dd *ngIf="group"><a class="link" (click)="goToClass()">{{group.name}}</a></dd>
    <dd *ngIf="!group">No class</dd>
  </dl>

  <hr>

  <p>{{teacher.other}}</p>
</div>
