.navigation {
  font-size: 14px;
}
.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation-item {
  display: inline-block;
  margin: 0 20px 0 0;
  vertical-align: middle;
}
.navigation-link {
  display: block;
}
.navigation-link.link-active {
  outline: 1px dashed #fff;
  outline-offset: 2px;
}
