.navigation {
  font-size: 14px;

  // Nested:
  &-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &-item {
    display: inline-block;
    margin: 0 20px 0 0;
    vertical-align: middle;
  }
  &-link {
    display: block;

    // States:
    &.link-active {
      outline: 1px dashed #fff;
      outline-offset: 2px;
    }
  }
}
