<nav class="header-navigation navigation">
  <ul class="navigation-list">
    <li class="navigation-item">
      <a class="navigation-link" routerLink="/classes" routerLinkActive="link-active">Classes ({{classes}})</a>
    </li>
    <li class="navigation-item">
      <a class="navigation-link" routerLink="/teachers" routerLinkActive="link-active">Teachers</a>
    </li>
    <li class="navigation-item">
      <a class="navigation-link" routerLink="/students" routerLinkActive="link-active">Students</a>
    </li>
  </ul>
</nav>
