/* Button: */
.button {
  display: inline-block;
  margin: 0;
  box-sizing: border-box;
  padding: 5px 20px;
  border: none;
  background: #ff4040;
  box-shadow: none;
  font: inherit;
  color: #fff;
  vertical-align: middle;
  cursor: pointer;
}
.button:hover {
  background: #ee3030;
}
.button:focus {
  outline: 1px dashed #ff4040;
  outline-offset: 2px;
 }
.button[disabled] {
  background: #e6e6e6;
  cursor: default;
}
