/* Loader: */
.loader {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  background: rgba(255, 255, 255, 0.8);
  opacity: 0;
  transition: all 0.5s ease 0s, visibility 0s linear 0.5s;

  // States:
  &.visible {
    visibility: visible;
    opacity: 1;
  }

  // Nested:
  &-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 80px;
    height: 40px;
    transform: translate(-50%, -50%);

    &-unit {
      position: absolute;
      top: 0;
      width: 20px;
      height: 40px;
      background: #ff4040;
      transform-origin: 50% 50% !important;
      animation-name: loading;
      animation-duration: 0.5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
      will-change: transform;

      // Orders:
      &:nth-child(1) {
        left: 0;
        animation-delay: 0;
      }
      &:nth-child(2) {
        left: 30px;
        animation-delay: 0.15s;
      }
      &:nth-child(3) {
        left: 60px;
        animation-delay: 0.3s;
      }
    }
  }
}

// Animations:
@keyframes loading {
  from { transform: scaleY(0.1); }
  to { transform: scaleY(1); }
}
